@import 'menu';
@import 'variables';

*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
      opacity: 1;
    }
    90% {
        transform:  translate3d(-50%, -50%, 0) rotate(360deg);
        opacity: 1;
      }
 
    100% {
      transform:  translate3d(-50%, -50%, 0) rotate(360deg);
      opacity: 0;
    }
}

@keyframes opacity {
    0%{
        opacity: 0;   
        // margin-top: 100vh;
        transform: scale(0);
    }
    50%{
        opacity: 0;
        // margin-top: 50vh;
        transform: scale(0.5);

    }
    100%{
        opacity: 1;
        // margin-top: 0;
        transform: scale(1);

    }
}


body{

    header{
        display: flex;
        justify-content: center;
        padding: 10px 0;

        img{
            width: 200px;
        }
    }

    .spin::before {
        padding: 20px;
        animation: 1.2s linear spinner both;
        border: solid 6px #cfd0d1;
        border-bottom-color: $primary;
        border-radius: 50%;
        content: "";
        height: 80px;
        width: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
    }

    .top{
        animation: opacity 2s linear both;
        background: $gray;
        border-top: 2px solid #c4c4c4;
        display: flex;
        flex-direction: column;
        text-align: center;
        .position{
            background: #dfdada;
            display: flex;
            justify-content: center;
            padding: 5px 0;

            h3{
                margin: 8px;
                font-size: 16px;
                color: $black;
            }
            .fas{
                margin: 8px;
                color: $black;
            }
        }
        h2{
            margin: 30px 35px 15px 35px;
        }
        p{
            color: #474747;
            margin:  0 20px 20px 20px;
        }
        .btn{
           @include button;
           margin-bottom: 40px;
           
           &:hover{
               &::after{
                opacity: 1;
               }
           }
            &::after{
               @include button-after;
            }
        }
    }

    .middle{
        animation: opacity 2s linear both;
        display: flex;
        flex-direction: column;
        padding: 20px 0 50px 0;

        h2{
            margin: 20px 0 20px 20px;
        }
        .first{
            margin: 10px 0;
            padding: 5px 0;
            display: flex;
            background: $gray;
            width: 90%;
            align-self: center;
            border-radius: 20px;
            padding: 20px 0;
            box-shadow: $shadow;
            span{
                color: white;
                background-color: #9356DC;
                border-radius: 100%;
                padding: 3px 7px;
                font-size: 14px;
                margin-left: -3%;
            }
            .fas{
                color: #757575;
                margin: 0 20px;
                font-size: 18px;
                align-self: center;
                width: 20px;
            }
            p{
                font-weight: 600;
                align-self: center;
            }
        }
        .first:hover{
            background-color: #9256dc23;
        }
        .first:hover > .fas{
            color: $primary;
        }
        .second{
            @extend .first;
        }
        .third{
            @extend .first;
        }

    }

    .bottom{
        animation: opacity 2s linear both;
        padding: 30px 0;
        background: $gray;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            align-self: flex-start;
            margin: 15px 0 10px 18px;
        }

        .card{
            width: 90%;
            height: 250px;
            margin: 10px;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: relative;

            span{
                position: absolute;
                padding: 5px 8px;
                background-color: $tertiary;
                color: #209577;
                font-weight: 500;
                border-radius: 2px;
                top: 10px;
                right: 10px;
                font-size: 15px;
            }
            img{
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }
            a{
                text-decoration: none;
                color: $black;
            }
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                height: 28%;
                h3{
                    margin: 2px 10px;
                }
                p{
                    margin: 2px 10px;
                }

                .heart{
                    border: none;
                    position: absolute;
                    right: 15px;
                    background-color: $gray;
           
                    .far{
                        font-size: 22px;
                        opacity: 1;
                        transition: opacity 1s ease-in-out;
                        position: absolute;
                    }
                
                    .fas{
                        opacity: 0;                        
                        font-size: 22px;
                        background-image: linear-gradient($primary, $secondary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        transition: opacity 1s ease-in-out;
                    }
                    &:hover > .far{
                        opacity: 0;
                    }
                    &:hover > .fas{
                        opacity: 1;                    
                    }
                    
                
                }
            }

        } 
    }

    footer{
        background: #2c2c2c;
        h2{
            font-family: $font;
            color: white;
            font-weight: 500;
            padding: 22px 0 20px 22px;
            font-size: 19px;
        }
        ul{
            padding: 0 0 20px 20px ;
            list-style: none;
            li{
                margin-bottom: 8px;
                .fas{
                    color: white;
                    font-size: 13px;
                    margin-left: 3px;
                    width: 15px;
                }
                .hand{
                    transform: rotate(-15deg);
                    // margin-right: -4px;
                    // margin-left: 3px;
                }
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 5px;
                }
            }
        }
    }
}
