@keyframes slideFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  position: relative;
}
header a {
  font-size: 22px;
  position: absolute;
  left: 20px;
  top: 18px;
  color: #2c2c2c;
}

.restaurant img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.restaurant .menu {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin-top: -60px;
  background-color: #f3f3f3;
  border-radius: 30px 30px 0 0;
}
.restaurant .menu .title {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.restaurant .menu .title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  font-weight: 500;
}
.restaurant .menu .title .far {
  font-size: 26px;
}
.restaurant .menu .menu-category {
  margin: 20px;
}
.restaurant .menu .menu-category .meal {
  background-color: white;
  border-radius: 20px;
  margin: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  animation: 1000ms slideFromBottom both;
  overflow: hidden;
}
.restaurant .menu .menu-category .meal--1 {
  animation-delay: 100ms;
}
.restaurant .menu .menu-category .meal--2 {
  animation-delay: 200ms;
}
.restaurant .menu .menu-category .meal--3 {
  animation-delay: 300ms;
}
.restaurant .menu .menu-category .meal--4 {
  animation-delay: 400ms;
}
.restaurant .menu .menu-category .meal--5 {
  animation-delay: 500ms;
}
.restaurant .menu .menu-category .meal--6 {
  animation-delay: 600ms;
}
.restaurant .menu .menu-category .meal--7 {
  animation-delay: 700ms;
}
.restaurant .menu .menu-category .meal--8 {
  animation-delay: 800ms;
}
.restaurant .menu .menu-category .meal--9 {
  animation-delay: 900ms;
}
.restaurant .menu .menu-category .meal--10 {
  animation-delay: 1000ms;
}
.restaurant .menu .menu-category .meal:hover > .meal__check {
  margin-right: 0;
}
.restaurant .menu .menu-category .meal:hover > .meal__check .fas {
  animation: rotate 350ms both linear 150ms;
}
.restaurant .menu .menu-category .meal__description {
  overflow: hidden;
  padding: 10px 0 10px 10px;
  width: 82%;
}
.restaurant .menu .menu-category .meal__price {
  font-size: 16px;
  font-weight: 600;
  color: #2c2c2c;
  margin: 12px 12px 12px 5px;
  align-self: flex-end;
  transition: transform 1s;
}
.restaurant .menu .menu-category .meal__check {
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-self: end;
  border-radius: 0 20px 20px 0;
  transition: margin-right 600ms;
  transform-origin: 100%;
  padding: 20px;
  margin-right: -70px;
}
.restaurant .menu .menu-category .meal__check .fas {
  font-size: 26px;
  color: white;
}
.restaurant .menu h3 {
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.restaurant .menu h4 {
  margin: 3px 0 3px 3px;
  font-size: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurant .menu p {
  font-size: 15px;
  font-weight: 400;
  margin: 2px 0 2px 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurant .menu .btn {
  width: 60%;
  align-self: center;
  color: white;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 20px 0 60px 0;
}
.restaurant .menu .btn:hover::after {
  opacity: 1;
}
.restaurant .menu .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
body header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
body header img {
  width: 200px;
}
body .spin::before {
  padding: 20px;
  animation: 2s linear spinner both;
  border: solid 6px #cfd0d1;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  content: "";
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
body .top {
  animation: opacity 2.5s linear both;
  background: #f3f3f3;
  border-top: 2px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .top .position {
  background: #dfdada;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
body .top .position h3 {
  margin: 8px;
  font-size: 16px;
  color: #2c2c2c;
}
body .top .position .fas {
  margin: 8px;
  color: #2c2c2c;
}
body .top h2 {
  margin: 30px 35px 15px 35px;
}
body .top p {
  color: #474747;
  margin: 0 20px 20px 20px;
}
body .top .btn {
  width: 60%;
  align-self: center;
  color: white;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
body .top .btn:hover::after {
  opacity: 1;
}
body .top .btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
body .middle {
  animation: opacity 2.5s linear both;
  display: flex;
  flex-direction: column;
  padding: 20px 0 50px 0;
}
body .middle h2 {
  margin: 20px 0 20px 20px;
}
body .middle .first, body .middle .third, body .middle .second {
  margin: 10px 0;
  padding: 5px 0;
  display: flex;
  background: #f3f3f3;
  width: 90%;
  align-self: center;
  border-radius: 20px;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .middle .first span, body .middle .third span, body .middle .second span {
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 3px 7px;
  font-size: 14px;
  margin-left: -3%;
}
body .middle .first .fas, body .middle .third .fas, body .middle .second .fas {
  color: #757575;
  margin: 0 20px;
  font-size: 18px;
  align-self: center;
  width: 20px;
}
body .middle .first p, body .middle .third p, body .middle .second p {
  font-weight: 600;
  align-self: center;
}
body .middle .first:hover, body .middle .third:hover, body .middle .second:hover {
  background-color: #9256dc23;
}
body .middle .first:hover > .fas, body .middle .third:hover > .fas, body .middle .second:hover > .fas {
  color: #9356DC;
}
body .bottom {
  animation: opacity 2.5s linear both;
  padding: 30px 0;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .bottom h2 {
  align-self: flex-start;
  margin: 15px 0 10px 18px;
}
body .bottom .card {
  width: 90%;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
body .bottom .card span {
  position: absolute;
  padding: 5px 8px;
  background-color: #99E2D0;
  color: #209577;
  font-weight: 500;
  border-radius: 2px;
  top: 10px;
  right: 10px;
  font-size: 15px;
}
body .bottom .card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
body .bottom .card a {
  text-decoration: none;
  color: #2c2c2c;
}
body .bottom .card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 28%;
}
body .bottom .card .container h3 {
  margin: 2px 10px;
}
body .bottom .card .container p {
  margin: 2px 10px;
}
body .bottom .card .container .heart {
  border: none;
  position: absolute;
  right: 15px;
  background-color: #f3f3f3;
}
body .bottom .card .container .heart .far {
  font-size: 22px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  position: absolute;
}
body .bottom .card .container .heart .fas {
  opacity: 0;
  font-size: 22px;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 1s ease-in-out;
}
body .bottom .card .container .heart:hover > .far {
  opacity: 0;
}
body .bottom .card .container .heart:hover > .fas {
  opacity: 1;
}
body footer {
  background: #2c2c2c;
}
body footer h2 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: 500;
  padding: 22px 0 20px 22px;
  font-size: 19px;
}
body footer ul {
  padding: 0 0 20px 20px;
  list-style: none;
}
body footer ul li {
  margin-bottom: 8px;
}
body footer ul li .fas {
  color: white;
  font-size: 13px;
  margin-left: 3px;
  width: 15px;
}
body footer ul li .hand {
  transform: rotate(-15deg);
}
body footer ul li a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}

/*# sourceMappingURL=style.css.map */
