@mixin button {
    width: 60%;
    align-self: center;
    color: white;
    font-weight: 500;
    background: linear-gradient($btn-color);
    padding: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: $lightShadow;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

@mixin button-after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    background: linear-gradient(lighten($secondary, 5), lighten($primary, 5));
    box-shadow: $shadow;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;    
}

// menu.scss

@mixin margin {
    margin: 20px;
}

@mixin card-content {
    background-color: white;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: $shadow;
    display: flex;
    justify-content: space-between;
    animation: $anim-dur slideFromBottom both;
    overflow: hidden;

    @for $i from 1 through $num-meal {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
}